// Typography
$font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-title: 'Montserrat', Verdana, sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$font-weight-bold: 700;
$line-height-base: 1.6;

// Sizes
$sizes: (
	// Responsive
	"sm": 30rem,
	"md": 50rem,
	"lg": 70rem,
	"xl": 90rem,
	// UI sizes
	"container": 80rem,
	"navbar-height": 4rem,
	"navbar-font": 1.25rem,
	"sidebar-width": 18rem,
	"column-min-width": 18rem,
	"radius": 2px,
	"shadow-x": 0,
	"shadow-x-hover": 0,
	"shadow-y": 3px,
	"shadow-y-hover": 4px,
	"shadow-spread": 5px,
	"shadow-spread-hover": 8px,
);

// Colors
$colors: (
	// Graphic chart
	"navy": #326a8c,
	"yellow": #f2a71b,
	"orange": #f25749,
	"red": #f25050,
	"grey": #bfbfbf,
	// Alert/Generic colors
	"primary": #326a8c,
	"secondary": #f2a71b,
	"info": #2d7cad,
	"success": #78b01e,
	"warning": #e3731f,
	"danger": #e34041,
	// UI colors
	"body-bg": #f4f4f4,
	"body-color": #202020,
	"input-border": #bfbfbf,
	"input-focus-border": #326a8c,
	"navbar-bg": #f2a71b,
	"navbar-color": #fff,
	"shadow": rgba(0, 0, 0, .2),
	"shadow-hover": rgba(0, 0, 0, .4),
	"shadow-dark": rgba(0, 0, 0, .4),
	"shadow-dark-hover": rgba(0, 0, 0, .7),
	"sidebar-bg": #fff,
	"sidebar": #202020,
	"sidebar-disabled": #404040,
	"sidebar-hover-bg": #fafafa,
	"sidebar-hover": #323232,
	"tag": #404040,
	"table-border": #bfbfbf,
	"table-stripe": #ffffff,
);

$accents: primary, secondary, info, success, warning, danger;
