// Typography
$font-family-main: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-title: 'Montserrat', Verdana, sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$font-weight-bold: 700;
$line-height-base: 1.6;

// Sizes
$sizes: (
	"container": 80rem,
	"navbar-height": 4rem,
	"navbar-font": 1.25rem,
	"sidebar-width": 18rem,
	"column-min-width": 22rem,
	"radius": 2px,
	"shadow-x": 0,
	"shadow-x-hover": 0,
	"shadow-y": 3px,
	"shadow-y-hover": 4px,
	"shadow-spread": 5px,
	"shadow-spread-hover": 8px,
);

// Colors
$colors: (
	"navy": #326a8c,
	"yellow": #f2a71b,
	"orange": #f25749,
	"red": #f25050,
	"grey": #bfbfbf,

	"body-bg": #f8fafc,
	"body-color": #202020,
	"navbar-bg": #f2a71b,
	"navbar-color": #fff,
	"shadow": rgba(0, 0, 0, .2),
	"shadow-hover": rgba(0, 0, 0, .4),
	"shadow-dark": rgba(0, 0, 0, .4),
	"shadow-dark-hover": rgba(0, 0, 0, .7),
	"sidebar-bg": #fff,
	"sidebar": #202020,
	"sidebar-disabled": #404040,
	"sidebar-hover-bg": #fafafa,
	"sidebar-hover": #323232,
	"table-border": #bfbfbf,
	"table-stripe": #ffffff,
);
