// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'common/common';

@import 'components/_all';

#page {
	width: 100vw;
	min-height: 100vh;
	margin-top: var(--size-navbar-height);
}

#main-content {
	margin: 0;
	padding: 0;
}
