// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'common/common';

@import 'components/_all';

#page {
	width: 100vw;
	min-height: 100vh;
}

#main-content {
	margin: 0;
	padding: 0 0 1rem 0;
	overflow: auto;
	overflow-x: hidden;
	min-height: 100vh;
	max-height: 100vh;
}
