.alert {
	display: block;
	padding: .5em 1em;
	border: 1px solid currentColor;
	border-radius: var(--size-radius);

	@each $accent in $accents {
		&.is-#{$accent} {
			color: var(--color-#{$accent});
		}
	}
}

.invalid-feedback {
	@extend .alert;
	margin-top: .25em;
	color: var(--color-danger);
}
