.alert {
	display: block;
	padding: .5em 1em;
	border: 1px solid currentColor;
	border-radius: var(--size-radius);

	&.is-info {
		color: var(--color-info);
	}
	&.is-success {
		color: var(--color-success);
	}
	&.is-warning {
		color: var(--color-warning);
	}
	&.is-danger {
		color: var(--color-danger);
	}
}

.invalid-feedback {
	@extend .alert;
	margin-top: .25em;
	color: var(--color-danger);
}
