.form {
	display: block;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.form-group {
	display: block;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 3rem;

	&.submit {
		text-align: right;
	}
}

.label,
.checkbox-container {
	display: block;
	padding: .625em 0;
}

.input,
.select,
.textarea {
	display: block;
	width: 100%;
	padding: .625em;
	font-family: var(--font-family-main);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid var(--color-input-border);
	border-radius: var(--size-radius) var(--size-radius) 0 0;
	transition: border linear 150ms;

	&:hover,
	&:focus {
		border-bottom-color: var(--color-input-focus-border);
	}
}

.textarea {
	min-height: 5rem;
	resize: vertical;
}

.button {
	padding: .625em;
	font-family: var(--font-family-main);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	border: 0;

	&:not(.is-link) {
		text-decoration: none;
		background-color: var(--color-navy);
		color: #fff;
		box-shadow: var(--size-shadow-x) var(--size-shadow-y) var(--size-shadow-spread) var(--color-shadow);
		transition: all linear 150ms;
		border-radius: var(--size-radius);

		&:hover,
		&:focus {
			box-shadow: var(--size-shadow-x-hover) var(--size-shadow-y-hover) var(--size-shadow-spread-hover) var(--color-shadow-hover);
		}
	}
}

.input-group {
	display: flex;

	&-prepend,
	&-append {
		flex: 0 1 auto;
		padding: .625em;
		font-family: var(--font-family-main);
		font-size: var(--font-size-base);
		font-weight: var(--font-weight-base);
		background-color: #fff;
		border: 0;
		border-bottom: 1px solid var(--color-input-border);
		border-radius: var(--size-radius) var(--size-radius) 0 0;
		transition: border linear 150ms;
	}

	.input {
		flex: 1 0 auto;
		width: auto;
	}
}
