.form {

}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.form-group {
	display: block;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 3rem;

	&.submit {
		text-align: right;
	}
}

.label {
	display: block;
	padding: .625em 0;
}

input,
.input,
select,
.select,
textarea,
.textarea {
	display: block;
	width: 100%;
	padding: .625em;
	font-family: var(--font-family-main);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid #bfbfbf;
	border-radius: var(--size-radius) var(--size-radius) 0 0;
	transition: border linear 150ms;

	&:hover,
	&:focus {
		border-bottom: 1px solid #9b9b9b;
	}
}

textarea,
.textarea {
	min-height: 5rem;
	resize: vertical;
}

button,
.button {
	padding: .625em;
	font-family: var(--font-family-main);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	background-color: var(--color-navy);
	color: #fff;
	border: 0;
	box-shadow: var(--size-shadow-x) var(--size-shadow-y) var(--size-shadow-spread) var(--color-shadow);
	transition: all linear 150ms;
	border-radius: var(--size-radius);

	&:hover,
	&:focus {
		box-shadow: var(--size-shadow-x-hover) var(--size-shadow-y-hover) var(--size-shadow-spread-hover) var(--color-shadow-hover);
	}
}
