.hero {
	padding: 2rem;
	margin: 0;
	background-color: var(--color-orange);
	color: #fff;
	overflow: hidden;

	.title {
		margin: 0;
		font-size: 2rem;
		font-weight: bold;
	}
	.subtitle {
		margin: 0;
		font-size: 1.2rem;
	}
}
