.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
	height: var(--size-navbar-height);
	background-color: var(--color-navbar-bg);
	color: var(--color-navbar-color);
	font-size: var(--size-navbar-font);
	line-height: var(--size-navbar-font);
	box-shadow: 0 0 var(--size-shadow-spread) var(--color-shadow-dark);
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;

	a,
	button {
		text-decoration: none;

		&:focus,
		&:hover,
		&:active {
			color: #fff;
		}
	}

	.navbar-item {
		display: block;
		appearance: none;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background-color: inherit;
		border: none;
		float: left;
		min-width: var(--size-navbar-height);
		height: var(--size-navbar-height);
		padding: calc((var(--size-navbar-height) - var(--size-navbar-font)) / 2) calc(var(--size-navbar-font) / 2);
	}

	.navbar-left {
		display: block;
		flex: 1;
		align-self: flex-start;
	}
	.navbar-right {
		display: block;
		align-self: flex-end;
	}
}
