#notifications-zone {
	overflow: hidden;
}

.notification {
	display: block;
	padding: 2rem;
	margin: 0;
	font-size: 1.5rem;

	& + & {
		margin-top: 2rem;
	}

	@each $accent in $accents {
		&.is-#{$accent} {
			background-color: var(--color-#{$accent});
			color: #fff;
		}
	}
}
