#sidebar {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: var(--size-navbar-height);
	bottom: 0;
	width: var(--size-sidebar-width);
	z-index: 97;
	background-color: var(--color-sidebar-bg);
	color: var(--color-sidebar);
	overflow-x: hidden;
	overflow-y: auto;
	transition: box-shadow ease-in-out 150ms, transform ease-in-out 150ms;
	transform: translateX(-100%);

	a {
		text-decoration: none;
	}

	.dropdown {
		display: block;

		&-label {
			background-color: var(--color-navy);
			color: #fff;
		}
	}

	@media all and (max-width: map-get($sizes, "md")) {
		width: calc(100vw -var(--size-navbar-height));

		&.open {
			transform: translateX(0);
			box-shadow: 0 0 var(--size-shadow-spread) var(--color-shadow);
		}
	}

	@media all and (min-width: map-get($sizes, "md")) {
		transform: translateX(0);
		box-shadow: 0 0 var(--size-shadow-spread) var(--color-shadow);

		& ~ #main-content {
			transition: margin-left ease-in-out 150ms;
			margin-left: var(--size-sidebar-width);
		}
	}
}

#sidebar-content {
	justify-self: start;
	flex: 1 0 auto;
}

#sidebar-footer {
	justify-self: end;
	flex: 0 0 auto;
}

.sidebar-toggler {
	touch-action: manipulation;

	@media all and (min-width: map-get($sizes, "md")) {
		display: none !important;
	}
}

.sidebar-list {
	margin-bottom: 1rem;

	.sidebar-list-title {
		display: block;
		padding: 1.25em;
		margin: 2em 0 0;
		color: var(--color-sidebar-disabled);
		font-size: 1em;
		font-weight: var(--font-weight-bold, bold);
	}
}

.sidebar-item {
	position: relative;
	display: block;
	width: 100%;
	padding: 1.25em;
	margin: 0;
	border: 0;
	font-size: inherit;
	text-align: left;
	background-color: transparent;
	appearance: none;

	&.disabled {
		color: var(--color-sidebar-disabled);
	}

	&:not(.disabled) {
		cursor: pointer;

		&::after {
			content: '>';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 3em;
			text-align: center;
			line-height: 4em;
			color: var(--color-grey);
		}

		&:focus,
		&:hover {
			background-color: var(--color-sidebar-hover-bg);
			color: var(--color-sidebar-hover);

			&::after {
				color: var(--color-navy);
			}
		}

		&.active {
			&::after {
				color: var(--color-navy);
			}
		}
	}
}
