#sidebar {
	position: fixed;
	top: var(--size-navbar-height);
	bottom: 0;
	left: calc(-1 * var(--size-sidebar-width));
	width: var(--size-sidebar-width);
	z-index: 97;
	background-color: var(--color-sidebar-bg);
	color: var(--color-sidebar);
	overflow-x: hidden;
	overflow-y: auto;
	transition: box-shadow linear 150ms, left linear 150ms;

	a {
		text-decoration: none;
	}

	.dropdown {
		display: block;

		&-label {
			background-color: var(--color-navy);
			color: #fff;
		}
	}

	& ~ #main-content {
		transition: margin-left linear 150ms;
	}
}

@media all and (min-width: map-get($sizes, "md")) {
	#sidebar {
		left: 0;
		box-shadow: 0 0 var(--size-shadow-spread) var(--color-shadow-dark);

		& ~ #main-content {
			margin-left: var(--size-sidebar-width);
		}
	}
}

.sidebar-list {
	.sidebar-list-title {
		display: block;
		padding: 1.25em;
		margin: 2em 0 0;
		color: var(--color-sidebar-disabled);
		font-size: 1em;
		font-weight: var(--font-weight-bold, bold);
	}
}

.sidebar-item {
	position: relative;
	display: block;
	padding: 1.25em;
	margin: 0;

	&.disabled {
		color: var(--color-sidebar-disabled);
	}

	&:not(.disabled) {
		&::after {
			content: '>';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 3em;
			text-align: center;
			line-height: 4em;
			color: var(--color-grey);
		}

		&:focus,
		&:hover {
			background-color: var(--color-sidebar-hover-bg);
			color: var(--color-sidebar-hover);

			&::after {
				color: var(--color-navy);
			}
		}

		&.active {
			&::after {
				color: var(--color-navy);
			}
		}
	}
}
