#sidebar {
	position: fixed;
	top: var(--size-navbar-height);
	bottom: 0;
	left: 0;
	width: var(--size-sidebar-width);
	z-index: 97;
	background-color: var(--color-sidebar-bg);
	color: var(--color-sidebar);
	box-shadow: 0 0 var(--size-shadow-spread) var(--color-shadow-dark);

	a {
		text-decoration: none;
	}

	.dropdown {
		display: block;

		&-label {
			background-color: var(--color-navy);
			color: #fff;
		}
	}

	& ~ #main-content {
		margin-left: var(--size-sidebar-width);
	}
}

.sidebar-item {
	position: relative;
	display: block;
	padding: 1.25em;
	margin: 0;

	&.disabled {
		color: var(--color-sidebar-disabled);
	}

	&:not(.disabled) {
		&::after {
			content: '>';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 3em;
			text-align: center;
			line-height: 4em;
			color: var(--color-grey);
		}

		&:focus,
		&:hover {
			background-color: var(--color-sidebar-hover-bg);
			color: var(--color-sidebar-hover);

			&::after {
				color: var(--color-navy);
			}
		}

		&.active {
			&::after {
				color: var(--color-navy);
			}
		}
	}
}
