.tag {
	display: inline-flex;
	border: 1px solid currentColor;
	color: var(--color-tag);
	background: #fff;
	border-color: var(--color-tag);
	border-radius: var(--size-radius);
	box-shadow: var(--size-shadow-x) var(--size-shadow-y) var(--size-shadow-spread) var(--color-shadow);

	&:hover,
	&:focus,
	&:focus-within {
		box-shadow: var(--size-shadow-x-hover) var(--size-shadow-y-hover) var(--size-shadow-spread-hover) var(--color-shadow-hover);
	}

	.tag-content,
	.tag-action {
		display: inline-flex;
	}

	&:not(.has-action),
	.tag-content,
	.tag-action {
		padding: 0 .25em;
	}

	&.is-info,
	&.is-info .tag-action {
		color: var(--color-info);
		border-color: var(--color-info);
	}
	&.is-success,
	&.is-success .tag-action {
		color: var(--color-success);
		border-color: var(--color-success);
	}
	&.is-warning,
	&.is-warning .tag-action {
		color: var(--color-warning);
		border-color: var(--color-warning);
	}
	&.is-danger,
	&.is-danger .tag-action {
		color: var(--color-danger);
		border-color: var(--color-danger);
	}

	.tag-action {
		appearance: none;
		font-size: inherit;
		font-style: inherit;
		font-family: inherit;
		line-height: inherit;
		white-space: nowrap;
		background: inherit;
		border: 0;
		border-left: 1px solid;
		border-color: inherit;

		&.is-info {
			color: var(--color-navy);
		}
		&.is-success {
			color: var(--color-green);
		}
		&.is-warning {
			color: var(--color-yellow);
		}
		&.is-danger {
			color: var(--color-red);
		}

		&:hover,
		&:focus {
			background: var(--color-body-bg);
		}
	}
}

a.tag {
	text-decoration: none;
}
