.tag {
	display: inline-flex;
	border: none;
	color: var(--color-tag);
	background-color: var(--color-tag-bg, var(--color-body-bg));
	border-radius: var(--size-radius);
	box-shadow: var(--size-shadow-x) var(--size-shadow-y) var(--size-shadow-spread) var(--color-shadow);
	transition: box-shadow linear 150ms, color linear 150ms;

	&.has-action {
		&:hover,
		&:focus,
		&:focus-within {
			box-shadow: var(--size-shadow-x-hover) var(--size-shadow-y-hover) var(--size-shadow-spread-hover) var(--color-shadow-hover);
		}
	}

	& + & {
		margin-left: .5rem;
	}

	&:not(.has-action),
	.tag-content,
	.tag-action {
		padding: 0 .25em;

		@each $accent in $accents {
			&.is-#{$accent} {
				--color-tag-bg: var(--color-#{$accent});
				--color-tag: #fff;
			}
		}
	}


	.tag-content {
		--color-tag-bg: #fff;

		&:not(:last-child) {
			border-radius: var(--size-radius) 0 0 var(--size-radius);
		}
	}

	.tag-content,
	.tag-action {
		--color-tag-bg: #fff;
		appearance: none;
		display: inline-flex;
		font-size: inherit;
		font-style: inherit;
		font-family: inherit;
		line-height: inherit;
		white-space: nowrap;
		background-color: var(--color-tag-bg, var(--color-body-bg));
		color: var(--color-tag, inherit);
		border: 0;

		&:first-child {
			border-top-left-radius: var(--size-radius);
			border-bottom-left-radius: var(--size-radius);
		}
		&:last-child {
			border-top-right-radius: var(--size-radius);
			border-bottom-right-radius: var(--size-radius);
		}
		&:not(:first-child) {
			border-left: 1px solid;
			border-color: var(--color-shadow);
		}

		&:hover,
		&:focus {
			--color-tag-bg: #fff;
			--color-tag: var(--color-text);
		}

		@each $accent in $accents {
			&.is-#{$accent} {
				&:hover,
				&:focus {
					--color-tag: var(--color-#{$accent});
				}
			}
		}
	}
}

a.tag,
button.tag {
	text-decoration: none;

	&:hover,
	&:focus {
		box-shadow: var(--size-shadow-x-hover) var(--size-shadow-y-hover) var(--size-shadow-spread-hover) var(--color-shadow-hover);
	}
}
