.text-editor {
	min-height: 15em;
	height: 50vh;

	&:hover,
	&:focus {
		border-bottom-color: var(--color-input-border);
	}
}

@import '~quill/dist/quill.snow.css';

.ql-snow {
	.ql-tooltip,
	.ql-picker-options {
		background-color: var(--color-body-bg);
		color: var(--color-body-color);
	}
	&.ql-toolbar button,
	.ql-toolbar button,
	.ql-picker-label {
		color: var(--color-body-color);
	}
	.ql-stroke {
		stroke: var(--color-body-color);
	}
}
.ql-container {
	overflow-y: auto;
	resize: vertical;
}
.ql-editor {
	padding: 0;

	p { @extend p; }
	ol { @extend ol; }
	ul { @extend ul; }
	pre { @extend pre; }
	blockquote { @extend blockquote; }
	h1 { @extend h1; }
	h2 { @extend h2; }
	h3 { @extend h3; }
	h4 { @extend h4; }
	h5 { @extend h5; }
	h6 { @extend h6; }
}

.ql-toolbar {
	background-color: var(--color-body-bg);
	border-top-left-radius: var(--size-radius);
	border-top-right-radius: var(--size-radius);

	& + .text-editor {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}
