@import "./variables";

html, body {
	background-color: var(--color-body-bg);
	color: var(--color-body-color);
	font-family: var(--font-family-main);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	line-height: var(--line-height-base);
	min-height: 100vh;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: underline;

	&:focus,
	&:hover,
	&:active {
		text-decoration: none;
	}
}

[hidden] {
	display: none !important;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;

	&-focusable {
		&:active,
		&:focus {
			position: static;
			width: auto;
			height: auto;
			overflow: visible;
			clip: auto;
			white-space: normal;
		}
	}
}

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}

p {
	margin: 1em 0;
}

h1,
.h1 {
	margin: 1em 0 0;
	font-size: 2rem;
}

h2,
.h2 {
	margin: 1em 0 0;
	font-size: 1.5rem;
}

h3,
.h3 {
	margin: 1em 0 0;
	font-size: 1.25rem;
}

@import "./table";
